.vs
TicketManagerApp/TicketManagerApp/obj/*
TicketManagerApp/TicketManagerApp/bin/*

TicketManagerApp/TicketManagerApp.Client/obj/*
TicketManagerApp/TicketManagerApp.Client/bin/*

TicketManager.Models/obj/*
TicketManager.Models/bin/*