@page "/"

<PageTitle>Home</PageTitle>

<style>
    .background-image {
        display: block;
        margin: 0 auto;
        width: auto; /* Set the image to half its original size */
        opacity: 0.5; /* Make the image 50% transparent */
    }
</style>
<p>Ticket manager</p>
<img src="/images/wd_products_motors.png" alt="Background Image" class="background-image" />