@page "/"

<PageTitle>Home</PageTitle>

<style>
    .background-image {
        display: block;
        margin: 0 auto;
        width: auto;
        opacity: 0.5;
    }
</style>
<p>Ticket manager</p>
<img src="/ticketmanagerapp/images/wd_products_motors.png" alt="Background Image" class="background-image" />

<ErrorBoundary>
    <ErrorContent>
        @context.HelpLink
    </ErrorContent>
</ErrorBoundary>