@page "/pagetest"
@inject ITicketService TicketService

@using Microsoft.AspNetCore.Authorization
@using TicketManager.Models.Models
@using TicketManagerApp.Services

@inject HttpClient http

@attribute [Authorize]

<h3>AuthTest</h3>

<!--
 Table with base data
-->
<form>
    <div class="form-group">
        <label for="lblproduct">
            Product:
            @TicketVM.RequestorEmail
            @TicketVM.DepartmentId
        </label>
    </div>
</form>

@code {
    private Ticket TicketVM = new Ticket();

    private List<Ticket>? tickets = new List<Ticket>();

    protected override async Task OnInitializedAsync()
    {
        tickets = await TicketService.GetAllTickets();
        TicketVM = tickets[0];
    }

}