@page "/report/{id:int}"

@rendermode InteractiveServer

@using System.Diagnostics
@using TicketManager.Models.Models
@using TicketManagerApp.Services

@inject NavigationManager Navigation
@inject ITicketService _ticketService;
@inject IReportStructureService _reportStructureService;
@inject IServerDriveService _serverDriveService;
@inject IReportTypeService _reportTypeService;

<h3>Report</h3>

<div class="border-bottom border-white shadow rounded-lg" style="background-color: #ededed">
    <table class="table table-striped boarder table-hover">
        <tr>
            <th>Folder Name</th>
            <th>Files</th>
        </tr>
        <tbody>
            @if (FolderList.Count() == 0)
            {
                <p><em>No folders added.</em></p>
            }
            else
            {
                @foreach (var folder in FolderList)
                {
                        <tr>
                    <td>@folder</td>
                    <td>
                            <table class="table boarder table-hover">
                                <tbody>
                                    <tr>
                                        <td style="background-color: orange;"> 
                                            <InputFile OnChange="@(e => UploadFiles(e, folder))" />
                                        </td>
                                    </tr>
                                    @foreach (var (folderName, fileName) in FoldersAndFiles)
                                    {
                                        if (folderName == folder)
                                        {
                                            <tr>
                                        <td>@fileName </td>
                                        <td>
                                            <!-- Temporarty removed doc view button
                                            <button @onclick="() => OpenFile(folderName, fileName)">View</button>
                                            -->
                                            <button @onclick="() => RemoveFile(folderName, fileName)">Remove</button>
                                        </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                                </table>
                    </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public int Id { get; set; } // ticket primary key

    private Ticket UserTicket = new();
    // ToDo : In future add Ticket Code Number to ticket model
    string DocumentCodeNumber = "";
    string ReportTypeShortDescription = "";

    private List<string> FolderList = new List<string>();
    private List<(string folderPath, string fileName)> FoldersAndFiles = new List<(string folderPath, string fileName)>();

    protected override async Task OnInitializedAsync()
    {
        UserTicket = await _ticketService.GetTicketBasicData(Id);
        ReportTypeShortDescription = await _reportTypeService.GetReportTypeById(UserTicket.ReportTypeId);
        FolderList = await _reportStructureService.GetReportFoldersStructureByReportTypeId(UserTicket.ReportTypeId);
        DocumentCodeNumber = UserTicket.IdentificationCode;
        FoldersAndFiles = await _serverDriveService.GetListOfFilesInFolder(FolderList, ReportTypeShortDescription, DocumentCodeNumber);
    }

    private async Task UploadFiles(InputFileChangeEventArgs e, string targetFolder)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            string _documentCodeNumber = UserTicket.IdentificationCode;
            var fileName = file.Name;
            var fileStream = file.OpenReadStream();
            string reportType = UserTicket.ReportType.ReportShortType;

            await _serverDriveService.SaveFileToFolder(fileStream, fileName, reportType, targetFolder, _documentCodeNumber);
        }

        Navigation.NavigateTo($"/ticketmanagerapp/report/{Id}", forceLoad: true);
    }

    private void OpenFile(string folderName, string fileName)
    {
        string serverPath = _serverDriveService.GetServerPathToDatabaseFolder();
        string reportType = UserTicket.ReportType.ReportShortType;

        string filePath = serverPath + ReportTypeShortDescription + @"\" + DocumentCodeNumber + @"\" + folderName + @"\" + fileName;
        Process.Start(new ProcessStartInfo
            {
                FileName = filePath,
                UseShellExecute = true
            });
    }

    private async Task RemoveFile(string folderName, string fileName)
    {
        string reportType = UserTicket.ReportType.ReportShortType;

        await _serverDriveService.DeleteFileFromFolder(fileName, reportType, folderName, DocumentCodeNumber);
        // Refresh page
        Navigation.NavigateTo($"/ticketmanagerapp/report/{Id}", forceLoad: true);
    }

}